/AllTests.class
/Auction.class
/AuctionHouse.class
/AuctionHouseImp.class
/AuctionHouseTest.class
/Auctioneer.class
/BankingService.class
/Buyer.class
/CatalogueEntry.class
/Lot.class
/LotStatus.class
/MessagingService.class
/MockBankingService.class
/MockMessagingService.class
/Money.class
/MoneyTest.class
/Parameters.class
/Seller.class
/Status$Kind.class
/Status.class
/User.class
